<!DOCTYPE html>

<html>
  <head>
    <title>RailsFrontendTest</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-slate-200 max-w">
    <main class="m-0 flex">
      <div class="w-full md:w-1/4 bg-gray-200 p-4 min-h-screen bg-stone-800">
      </div>
      <div class="w-full md:w-3/4 px-6 py-4">
        <%= yield %>
      </div>
    </main>
  </body>
  
</html>
